
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html, body {
  // Réinitialisation des marges et des paddings
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Montserrat; /* Appliquer la police Montserrat à l'ensemble du site */
}

